.loader-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: rgba(180, 180, 180, 0.8);
    border-radius: 50%;
    transform: scale(0.7);
}

.loader-circle{
        width:25px;
        height:25px;
        --c:radial-gradient(farthest-side,#ffffff 92%,#ffffff00);
        background: 
          var(--c) 50% 0,
          var(--c) 50% 100%,
          var(--c) 100% 50%,
          var(--c) 0    50%;
        background-size:7px 7px;
        background-repeat:no-repeat;
        animation:s7 1s infinite;
      }
      @keyframes s7 {to{transform: rotate(.5turn)}}

      @media (min-width: 1024px) {
        .loader-container{
            transform: scale(1);
        }
        
      }