.contact-container {
    height: 330px;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.h2-contact {
    font-family: 'Quicksand';
    font-weight: 300;
    margin: 60px 0 100px 0;
}

.contact-form-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
}

.input-contact-text {
    font-family: 'Quicksand';
    font-weight: 300;
    border: none;
    outline: none;
    width: 250px;
    padding: 2px 5px;
    border-bottom: 1px solid #5757577e;
}

.btn-contact {
    cursor: pointer;
    font-family: 'Quicksand';
    font-weight: 300;
    border: none;
    background:none;
    color: #000000;
}

.btn-contact:hover {
    color:#5757577e;
}