.post-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100vw;
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
}
.form-container {
    font-family: 'Quicksand';
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    position: relative;
    width: 90%;
    max-width: 960px;
    min-height: 700px;
    padding: 50px;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0 0 10px 2px rgba(138, 138, 138, 0.3);
    color: black;
    text-align: center;
}

.form-group {
    position: relative;
    margin: 30px;
    color: #5757577e;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .form-input {
    border: none;
    outline: none;
    width: 250px;
    padding: 2px 5px;
    border-bottom: 1px solid #5757577e;
  }
  
  .form-input:focus + .form-label,
  .form-input:not(:placeholder-shown) + .form-label {
    transform: translateY(-15px) scale(.8);
    transform-origin: left top;
  }
  
  .form-label {
    color: #5757577e;
    position: absolute;
    top: -5px;
    left: 5px;
    
    transition: transform .5s, color .3s;
  }
  .form-label-category{ 
    color: #5757577e;

    
  }
  select {
    cursor: pointer;
    border: 1px solid #5757577e;
    color: #282828;
    border-radius: 30px;
    padding: 5px 10px;
    text-align: center;
    outline: none;
    font-family: 'Quicksand';
    margin: 10px;
  }
  .form-file {
        opacity: 0;
        z-index: -1;
        position: absolute; 
  }

  .form-file-label {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    transition: .5s;
    margin: 20px;
}

  .form-file-label::before {
    content: "+";
    cursor: pointer;
    color: white;
    font-size: 30px;
    background-color: rgb(142, 41, 41);
    width: 75px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    order: 2; 
    margin: 20px;
    transition: .5s;
  }
  

  .form-file-label:hover {
    transform: scale(1.05);
  }
  .form-file-label:hover::before {
    transform: scale(1.05);
  }




  .form-duo-group {
    display: flex;
    flex-direction:row;
  }

  .form-group-file{
    width: 250px;
     display: flex;
     flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .form-group-category{
    width: 250px;
}

 .btn-submit { 
    cursor: pointer;
    font-family: 'Quicksand';
    top:50%;
    background-color:rgb(142, 41, 41);
    color: #fff;
    border:none; 
    border-radius:20px; 
    padding:15px;
    min-height:30px; 
    min-width: 120px;
 }

 .btn-submit:hover {
    transform: scale(1.1);
    transition: .25s;
 }

.form-state {
    font-family: 'Quicksand';
    font-weight: 300;
    margin: 40px;
}

.back-arrow-post {
    color: black;
    position: absolute;
    top: 50px;
    left: 50px;
    font-size: 20px;
    transition: .3s;
}

.back-arrow-post:hover {
    transform: scale(1.2);
}

  @media (max-width: 680px) {
    .form-duo-group {flex-direction: column}
    .form-container {
        margin-top: 95px;
    }
    
  }