.admin-container {
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.btn {
    font-family: 'Quicksand';
    font-weight: 300;
    text-decoration: none;
    color: black;
    width: 300px;
    text-align: center;
    background-color: white;
    padding: 20px 40px;
    margin: 20px;
    border-radius: 35px; 
}

.btn:hover {
    background-color: rgb(187, 187, 187);
    color: rgb(43, 43, 43);
    transform: scale(105%);
}

.back-arrow-admin {
    color: rgb(255, 255, 255);
    position: fixed;
    top: 25px;
    left: 25px;
    font-size: 20px;
    transition: .3s;
    z-index: 200;
}.back-arrow-admin:hover {
    transform: scale(1.2);
}