.photo-details-container {
    margin:0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width:100vw;
    background-color: rgb(255, 255, 255);
}
.loader{
    position: absolute;
    top: 200px;
}
.back-arrow-photo-details {
    display: block;
    color: white;
    background-color: #00000025;
    padding: 15px;
    border-radius: 50%;
    position: fixed;
    text-align: center;
    z-index: 150;
    top: 15px;
    left: 15px; 
}.back-arrow-photo-details:hover {
  color: rgb(38, 38, 38);
  background-color: #ededede3;
}.back-arrow-photo-details.active {
  color: rgb(38, 38, 38);
  background-color: #ededede3;
}

.photo-container {
    font-family: 'Quicksand';
    font-weight: 300;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 40px;
    background-color: white;
    box-shadow: 0 0 5px 2px rgba(138, 138, 138, 0.3);
    color: black;
    text-align: center;
}

.photo-info-container{
    display: flex;
    flex: 1;
    margin:30px;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

.photo-info-text {
    color: black;
    margin: 10px;
}

.photo-details-link {
    color: cornflowerblue;
}

.img-photo-details {
    border-radius: 40px 40px 0 0;
    object-fit: contain;
    width: 100%;
}
.gap-photo-details-photo-list {
    height: 30px;
}
@media (orientation: landscape) {
    .photo-details-container {
        position: relative;
        top: 100px;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        max-height: 90%;
    }
    .photo-container {
        flex-direction: row;
        width: 70%;
        border-radius: 30px;
    }

    .img-photo-details {
        border-radius: 30px 0 0 30px;
        width: 400px;
    }

    .gap-photo-details-photo-list {
        height: 140px;
    }
    .back-arrow-photo-details {
        position: fixed;
        color:#575757d2;
        background:none;
        top: 25px;
        left: 25px;
        font-size: 20px;
        transition: .3s;
    }.back-arrow-photo-details:hover {
        background:none;
        transform: scale(1.2);
    }
}



@media (min-width: 1024px) {

    .photo-details-container {
        position: relative;
        top: 100px;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        max-height: 90%;
    }
    .photo-container {
        flex-direction: row;
        width: 70%;
        border-radius: 30px;
    }

    .img-photo-details {
        border-radius: 30px 0 0 30px;
        width: 400px;
    }

    .gap-photo-details-photo-list {
        height: 140px;
    }
    .back-arrow-photo-details {
        position: fixed;
        color:#575757d2;
        background:none;
        top: 25px;
        left: 25px;
        font-size: 20px;
        transition: .3s;
    }.back-arrow-photo-details:hover {
        background:none;
        transform: scale(1.2);
    }
  }