.photo-gallery {
  background-color: white;
}

.photo-list-container {
  width:100vw;
  background-color: rgb(255, 255, 255);
}

.back-arrow-photo-list {
  color: rgb(0, 0, 0);
  position: fixed;
  top: 25px;
  left: 25px;
  font-size: 20px;
  transition: .3s;
  z-index: 200;
}.back-arrow-photo-list:hover {
  transform: scale(1.2);
}

.photo-list {
  display: block;
  position: relative;
  top:0px;
  margin: 20px;
  columns: 2 140px;
  column-gap: 0.5em;
}

.photo {
  width: 100%;
  border-radius: 20px;
}

.photo-list-link.active{
  opacity: 0.5;
}

@media (orientation: landscape) {
  .photo-list {
    columns: 4 200px;
  }
}

@media (min-width: 767px) and (max-width: 1023px) {
  .photo-list {
    columns: 3 230px;
  }
}
@media (min-width: 1024px) { 

  .photo-list {
    columns: 5 320px;
  }
 }

