/* .admin-container {
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn {
    font-family: 'Quicksand';
    font-weight: 300;
    text-decoration: none;
    color: black;
    width: 400px;
    text-align: center;
    background-color: white;
    padding: 25px 40px;
    margin: 20px;
    border-radius: 35px;
  
}

.btn:hover {
    background-color: rgb(187, 187, 187);
    color: rgb(43, 43, 43);
    transform: scale(105%);
} */